body{
    background-color: green;
    display: flex;
    justify-content: center;
    --size : 12.5vw;
    --sizeneg : -12.5vw;
}

@keyframes firstleft {
    0%{
        left: var(--sizeneg);
    }
    100%{
        left: var(--size);
    }
}

@keyframes firstright {
    0%{
        left: var(--size);
    }
    100%{
        left: var(--sizeneg);
    }
}

.boxbody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75vw;
    justify-items: center;
}

.box{
    height: 30vh;
    width: 23vw;
    background-color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-family: sans-serif;
    position: relative;
}


.box:nth-child(6n+1), .box:nth-child(6n+2), .box:nth-child(6n+3)
{
    animation: firstleft 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.75,0,0.25,1);
}

.box:nth-child(6n+4), .box:nth-child(6n+5), .box:nth-child(6n+6)
{
    animation: firstright 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.75,0,0.25,1);
}

@media (max-width:1200px)
{
    body{
        --size : 17.5vw;
        --sizeneg : -17.5vw;
    }
    .boxbody{
        width:65vw;
        grid-template-columns: 1fr 1fr;
    }
    
    .box{
        width: 30vw;
    }

    .box:nth-child(4n+1), .box:nth-child(4n+2)
    {
        animation: firstleft 2s infinite alternate;
        animation-timing-function: cubic-bezier(0.75,0,0.25,1);
    }

    .box:nth-child(4n+3), .box:nth-child(4n+4)
    {
        animation: firstright 2s infinite alternate;
        animation-timing-function: cubic-bezier(0.75,0,0.25,1);
    
    }
}

@media (max-width: 900px)
{
    body{
        --size : 25vw;
        --sizeneg : -25vw;
    }
    .boxbody{
        width:50vw;
        grid-template-columns: 1fr;
    }
    
    .box{
        width: 45vw;
    }

    .box:nth-child(2n+1)
    {
        animation: firstleft 2s infinite alternate;
        animation-timing-function: cubic-bezier(0.75,0,0.25,1);
    }

    .box:nth-child(2n+2)
    {
        animation: firstright 2s infinite alternate; 
        animation-timing-function: cubic-bezier(0.75,0,0.25,1);
   
    }
}

@media (max-width: 500px)
{

    .boxbody{
        width:100vw;
        grid-template-columns: 1fr;
    }
    
    .box{
        width: 95vw;
    }

    .box:nth-child(n+1){
        animation:none;
    }
}